.footer a:link {
	color: rgba(100, 100, 100, 1);
	text-decoration: none;
}

img {
	display: block;
	margin: auto;
	padding-top: 10em;
	padding-bottom: 20px;
}

input[name="search-bar"] {
	display: block;
	height: 20px;
	width: 500px;
	margin: auto;
}

.buttons-area {
	text-align: center;
	padding: 10px 0;
}

.buttons-area input {
	display: inline-block;
	margin: auto;
	padding: 5px 14px;
}

.header {
	text-align: right;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 1px solid rgba(100, 100, 100, .5);
	padding: 5px;
	background-color: rgba(100, 100, 100, .2);
	margin-left: -20px;
}

.footer-left, .footer-right {
	display: inline-block;
}

.footer-right {
	position: absolute;
	right: 0;
	padding-right: 30px;
}

.footer-left {
	padding-left: 30px;
}